doctype html
html
  head
    title
    include ../includes/link.pug
  body
    div
        h1 &nbsp;
    if type == "Update"
        - header = "Update an existing word" 
        - button = "Update"
    else
        - header = "Add a new word"
        - button = "Add"
    div(class="ui large header centered")= header
    div
        h1 &nbsp;
    div
        //Add object here to show alert messages
        p 
    div(class="ui container")
        form(action="/admin/add" method="post")
            div(class="ui fluid form centererd card")
                div(class="field extra content")
                    label Word:
                    input(type="text" name="word" placeholder="Enter the word:" value=word)
                div(class="field extra content")
                    label Definition:
                    textarea(placeholder="Enter the definition of the word:" name="definition" rows="2")= definition
                div(class="field extra content")
                    label Example:
                    textarea(placeholder="Enter an example of how the word is used:" name="example" rows="5")= example
                div(class="field content")
                    button(class="ui button" type="submit")= button
                